* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: #161616;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

a:hover {
    color: violet;
}

header {
    position: relative;
    padding: 70px 10px;
    background-color: #fff;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
}

.navbar .links {
    display: flex;
    gap: 200px;
}

.navbar .toggle_btn {
    font-size: 40px;
    cursor: pointer;
    display: none;
}

.dropdown {
    display: none;
    position: absolute;
    right: 20px;
    top: 130px;
    padding: 19px;
    width: 250px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(55px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open {
    height: 200px;
}

.dropdown li {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    color: #096809;
}


/*******************************************/
.content {
    width: 100%;
    padding: 100px;
    color: #fff;
}

.intro {
    font-size: 30px;
    font-weight: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    padding: 30px 20px;
    text-align: center;
    margin-bottom: 100px;
}

.sp1 {
    color: orange;
}

.btn {
    padding: 20px 40px;
    display: block;
    margin: auto;
}

.btn a {
    font-size: 20px;
}

/*******************************************/

.aboutuscontent {
    width: 100%;
    height: 100%;
    color: #fff;
}

.pics {
    width: 200px;
}

.oflist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding: 50px;
    width: 100%;
}

.oflist div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.oflist div h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;;
    margin-bottom: 5px;
}

.oflist div a {
    text-decoration: none;
    color: chocolate;
    font-size: 17px;
    display: inline-block;
}

.oflist div p {
    text-align: center;
}

.history {
    text-align: justify;
    padding: 50px 100px;
    font-size: 28px;
    border: 1px solid white;
    margin: 0 90px 50px 90px;
}

.aboutus {
    text-align: center;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
    margin-top: 60px;
    margin-bottom: 40px;
}

.mission {
    width: 50%;
    float: left;
}

.vision {
    width: 50%;
    float: right;
}

.mission h3 {
    text-align: center;
    font-size: 30px;
    color: yellow;
}

.mission p {
    font-size: 28px;
    padding: 20px 100px;
    text-align: justify;
}

.vision h3 {
    text-align: center;
    font-size: 30px;
    color: yellow;
}

.vision p {
    font-size: 25px;
    padding: 20px 100px;
    text-align: justify;
}

.staff {
    color: chocolate;
    font-weight: bold;
    padding-top: 15px;
}
/*******************************************/

.contactus {
    font-size: 16px;
}
.contactcontainer {
    width: 100%;
    padding: 100px 100px;
    text-align: center;
}
.contbox {
    background-color: white;
    display: flex;
}
.contactcontainer h1 {
    margin-bottom: 10px;
    font-size: 50px;
    color: orangered;
    font-family: monospace;
}
.contactcontainer p {
    margin-bottom: 40px;
    font-size: 30px;
    color: whitesmoke;
    font-family: monospace;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.row .haha {
    flex-basis: 45%;
}
input {
    width: 100%;
    border: none;
    background-color: aliceblue;
    border: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea {
    width: 100%;
    background-color: aliceblue;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label {
    margin-bottom: 6px;
    display: block;
    color: brown;
    font-weight: bold;
    line-gap-override: 3px;
    font-size: 20px;
}
.btn2 {
    background: orange;
    width: 200px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 100px;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
    padding: 10px;
}

.contacts {
    text-align: center;
    flex-basis: 100%;
    padding: 50px;
}

.contacts h3 {
    color: brown;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 25px;
}

/*******************************************/

.explore {
    padding: 100px;
    color: #fff;
}

.pic {
    width: 250px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-gap: 20px; 
  }
  
  .grid-item {
    text-align: center;
    background-color: rgb(186, 201, 214);
    padding: 20px;
  }
  
  .grid-item img {
    max-width: 100%;
  }
  
  .product-price {
    border: 1px solid coral;
    width: 200px;
    margin: auto;
    padding: 10px 18px;
  }

  .grid-item h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: brown;
  }
  
  .grid-item p {
    margin-bottom: 5px;
    color: black;
  }
  
  .rating span i {
    margin-top: 5px;
    color: orangered;
}

.pack {
    background: rgb(42, 192, 152);
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}
/*******************************************/
footer {
    background: #3e3b3b;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}
.footers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footers h4 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footers p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: #fff;
}
.socials a i {
    font-size: 1.1rem;
    color: orange;
}
.bot {
    background: #6e6969;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.bot p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

/*******************************************/

@media(max-width: 992px){
    .navbar .links {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown {
        display: block;
    }
    .aboutus {
        font-size: 32px;
    }
    .history {
        padding: 18px 22px;
        font-size: 18px;
        margin: 0 80px 50px 80px;
    }
    
    .mission h3 {
        font-size: 25px;
    }
    
    .mission p {
        font-size: 17px;
        padding: 5px 22px;
    }
    
    .vision h3 {
        font-size: 25px;
    }
    
    .vision p {
        font-size: 15px;
        padding: 5px 20px;
    }

    .oflist {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
      
    .pics {
        width: 150px;
    }
    
    .oflist {
        grid-gap: 30px;
    }
    
    .oflist div {
        font-size: 16px;
    }
    .oflist div h2 {
        font-size: 18px;
    }
    
    .oflist div a {
        font-size: 15px;
    }
}

@media(max-width: 375px){
    header {
        width: 100%;
    }
    .navbar {
        height: 40px;
    }
    .logo {
        width: 150px;
    }
    .dropdown {
        width: 130px;
    }
    .dropdown.open {
        height: 230px;
    }

    .intro {
        font-size: 15px;
        padding: 10px;
        margin-bottom: 40px;
    }
    
    .btn {
        padding: 10px 20px;
    }
    
    .btn a {
        font-size: 12px;
    }

    .explore {
        padding: 40px;
    }
    
    .pic {
        width: 150px;
    }
    
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px; 
      }
      
    .grid-item {
        padding: 10px;
      }
    
    .pics {
        width: 200px;
    }
    
    .oflist {
        grid-gap: 20px;
    }
    
    .oflist div {
        font-size: 12px;
    }
    
    .history {
        padding: 10px 20px;
        font-size: 12px;
        margin: 0 40px 50px 40px;
    }
    
    .aboutus {
        font-size: 20px;
    }
    
    .mission h3 {
        font-size: 20px;
    }
    
    .mission p {
        font-size: 12px;
        padding: 5px 20px;
    }
    
    .vision h3 {
        text-align: center;
        font-size: 20px;
        color: yellow;
    }
    
    .vision p {
        font-size: 12px;
        padding: 5px 20px;
    }
    .contactus {
        font-size: 12px;
    }
    .contactcontainer {
        padding: 10px 10px;
    }
    .contactcontainer h1 {
        margin-top: 20px;
        font-size: 20px;
    }
    .contactcontainer p {
        font-size: 12px;
    }
    .row {
        margin-bottom: 5px;
    }
    label {
        margin-bottom: 5px;
        font-size: 12px;
    }
    .btn2 {
        width: 150px;
        font-size: 15px;
    }
    
    .contacts {
        padding: 30px;
    }
    
    .contacts h3 {
        font-size: 20px;
    }

    a {
        font-size: 13px;
        color: white;
        text-align: center;
    }

    .btn a {
        color: black;
    }
}
